---
layout: base.njk
section: project
---
<div class="page-container">
  <h1>{{title}}</h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
  <hr/>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/patients/' | url }}">← View All Patients</a>
  </nav>
</div>
